.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .fileInput {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 16px;
    margin-left:70px;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    max-width: 400px;  
    margin: 0 auto;    
    aspect-ratio: auto;
    
  }
  
  .image {
    display: block;
    width: 100%; 
    height: auto;
    border-radius: 8px;

  }
  
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }
  
  .detectButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1b2b7d;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 50px;
  }
  
  .detectButton:hover {
    background: #EF2A82;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(239, 42, 130, 0.3);
  }

  .noFaceMessage{
    font-family: 'Segoe UI', sans-serif;
    font-size: 19px;
    color: #444;
    margin-top: 0px;
    margin-bottom:70px;
    padding-left:20px;
    padding-right: 20px;
  }
  
  @media(max-width: 768px){
    .wrapper {
      margin-top: 0px;
    
    }
    .fileInput {
      margin-left:33px;
    }
  }