.header {
    background-color: #3F2A89;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    height: 32px;
    border-radius:5px;
  }
  
  .title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
  
  .badge {
    background-color: #EF2A82;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
  }
  