.header {
    background-color: #3F2A89;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    height: 32px;
    border-radius:5px;
  }
  
  .title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    margin-left:25px;
  }
  
  .badgeButton {
    background-color: #EF2A82;
    color: white;
    padding: 12px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .badgeButton:hover {
    background-color: #c61d69; 
  }
  
  @media(max-width:768px){
    .badge{
      margin-left:5px;
    }
    .header {
      padding: 12px 12px;
    }
    .title {
      font-size: 20px;
      margin-left:0px;
    }
  }