.header {
    text-align: center;
    margin: 0 auto 30px;
    max-width: 100% vw;
    margin-bottom: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    margin: 0;
  }
  
  
  .header h2 {
    color: #1b2b7d;
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 19px;
    color: #444;
  }
  .divider {
    height: 1px;
    background-color: #e0e0e0;
    border: none;
    margin-bottom: 20px;
    width: 100%;
  }
  .instruction {
    margin-left: 10px;
    margin-right: 10px;
  }
  @media(max-width: 768px){
    .header {
      margin-bottom: 0px;
    }
    .header p {
      font-size: 17px;
      color: #444;
    }
  }